{% extends "base.html" %}
{% load static %}
{% block title %}ReadHub{% endblock %}
{% block content %}
    <section class="px-lg-5 px-2 pt-3 mx-auto">
        <div class="d-flex gap-2 gap-md-5 flex-wrap flex-md-nowrap justify-content-sm-start justify-content-center">
            <img src='{{ book.img.url }}' class="border border-2 rounded-2 flex-shrink-1" alt="Книга: {{ book.title }}">
            <div class="">
                <h2 class="mb-3 fs-2 fw-medium mb-3">{{ book.title }}</h2>
                <p class="text-primary"><span class="fw-bold text-body-secondary">Автор:</span> {{ book.author }} </p>
                <p class="text-primary"><span class="fw-bold text-body-secondary">Количество страниц:</span> {{ book.page_count }}</p>
                <p class="text-primary"><span class="fw-bold text-body-secondary">Жанр:</span> {{ book.get_genre }}</p>
                <p class="text-primary"><span class="fw-bold text-body-secondary">Год выпуска:</span> {{ book.release_date.year }}</p>
                <div class="d-flex flex-column gap-2 mt-3">
                    <form action="{% url 'library:add_book' book.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success opacity-75 text-light fw-bold btn-sm d-flex justify-content-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                            Добавить в библиотеку
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion mt-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button show border border-1 border-primary-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Описание
                </button>
                </h2>
                <div id="collapseOne" class="accordioncenter-collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body p-2 p-md-3 fst-italic">{{ book.description }}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}