{% extends "base.html" %}
{% load static %}
{% block title %}Каталог | ReadHub{% endblock %}
{% block content %}

  <section class="px-lg-5 px-3 pt-3 row mx-auto">
    <div class="d-flex justify-content-center mb-3">
      <button class="btn btn-dark py-1 px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Фильтр
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
          <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Фильтрация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="input-group-sm mb-3">
            <p class="fs-5 fw-medium">{{ form.search.label }}</p>
            {{ form.search }}
          </div>
          <p class="fs-5 fw-medium mb-2 border-bottom border-1">{{ form.genre.label }}</p>
          {% for item in form.genre %}
            <div class="d-flex gap-2 mb-1">
              {{ item.tag }}
              {{ item.choice_label }}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary btn-sm mt-3">Применить</button>
        </form>
      </div>
    </div>
    <section class="d-flex gap-3 justify-content-center flex-wrap">
    {% for book in book_list %}
      <a class="card rounded-2" href='{{ book.get_absolute_url }}'>
        <img src="{{ book.img.url }}" class="card-img-top" alt="Книга: {{ book.title }}" style="max-height: 320px;">
        <div class="card-body p-2 p-md-3">
          <p class="card-text" style="font-size: 16px;">{{ book.title }}</p>
        </div>
      </a>
    {% endfor %}
    </section>
  </section>
{% endblock %}